<footer class="footer">
  <div class="footer__wrap">
    <div class="footer__content-wrap">
      <div class="footer__title-wrap">
        <h3 class="title footer__title">iTerms</h3>
        <p class="subtitle footer__subtitle">
          More than 140,000 businesses<br>
          use iTerms. Join our community.
        </p>
      </div>
      <div class="footer__list-wrap info">
        <h5 class="info__title">Company</h5>
        <ul class="info__list">
          <li class="info__item"><a href="#">How It Works</a></li>
          <li class="info__item"><a href="#">Reviews</a></li>
          <li class="info__item"><a href="#">Contact us</a></li>
          <li class="info__item"><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="footer__list-wrap info">
        <h5 class="info__title">Products</h5>
        <ul class="info__list">
          <li class="info__item"><a href="#">Solutions</a></li>
          <li class="info__item"><a href="#">Trust & Safety</a></li>
          <li class="info__item"><a href="#">Payment</a></li>
          <li class="info__item"><a href="#">Help</a></li>
        </ul>
      </div>
      <div class="footer__list-wrap info">
        <h5 class="info__title">Support</h5>
        <ul class="info__list">
          <li class="info__item"><a href="#">Help</a></li>
          <li class="info__item"><a href="#">Pricing</a></li>
          <li class="info__item"><a href="#">Payment</a></li>
          <li class="info__item"><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  <div class="footer__legal">
    <p class="copyright">© 2021 Terms Inc. All rights reserved</p>
    <ul class="legal__list">
      <li class="legal__item"><a href="#">Terms & Conditions</a></li>
      <li class="legal__item"><a href="#">Privacy Policy</a></li>
      <li class="legal__item"><a href="#">Disclaimer</a></li>
      <li class="legal__item">English version</li>
    </ul>
  </div>
</div>
</footer>
