<footer class="footer">

  <!--------------------------------------------- READY --------------------------------------------->
  
  <section class="ready">
    <div class="ready__wrapper wrapper">
      <div class="ready__title-wrapper">
        <p class="pretitle ready-pretitle">Get Started Within Minutes</p>
        <h2 class="title ready__title">Are You Ready to Protect Your Business?</h2>
        <p class="subtitle ready__subtitle">
          Sign up for our account packages and start generating
          legal agreements suited to your business needs.
        </p>
      </div>
      <div class="ready__btn-wrapper">
        <button class="btn ready__btn">Get started for free</button>
        <a class="learn ready__learn">Learn more</a>
      </div>
    </div>
  </section>

  <div class="footer__wrapper">
    <div class="footer__content-wrapper">
      <div class="footer__title-wrapper">
        <h3 class="title footer__title">iTerms</h3>
        <p class="subtitle footer__subtitle">
          More than 140,000 businesses<br>
          use iTerms. Join our community.
        </p>
      </div>
      <div class="footer__list-wrapper info">
        <h5 class="info__title">Company</h5>
        <ul class="info__list">
          <li class="info__item"><a href="#">How It Works</a></li>
          <li class="info__item"><a href="#">Reviews</a></li>
          <li class="info__item"><a href="#">Contact us</a></li>
          <li class="info__item"><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="footer__list-wrapper info">
        <h5 class="info__title">Products</h5>
        <ul class="info__list">
          <li class="info__item"><a href="#">Solutions</a></li>
          <li class="info__item"><a href="#">Trust & Safety</a></li>
          <li class="info__item"><a href="#">Payment</a></li>
          <li class="info__item"><a href="#">Help</a></li>
        </ul>
      </div>
      <div class="footer__list-wrapper info">
        <h5 class="info__title">Support</h5>
        <ul class="info__list">
          <li class="info__item"><a href="#">Help</a></li>
          <li class="info__item"><a href="#">Pricing</a></li>
          <li class="info__item"><a href="#">Payment</a></li>
          <li class="info__item"><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="footer__legal">
      <hr>
      <div class="footer__legal-wrapper ">
        <p class="copyright">© 2021 Terms Inc. All rights reserved</p>
        <ul class="legal__list">
          <li class="legal__item"><a href="#">Terms & Conditions</a></li>
          <li class="legal__item"><a href="#">Privacy Policy</a></li>
          <li class="legal__item"><a href="#">Disclaimer</a></li>
          <li class="legal__item legal__item-language">English version</li>
        </ul>
      </div>
    </div>
 
</footer>
