<header class="header">
  <h1>iTerms</h1>
  <nav class="header__nav tablet-hidden">
    <ul class="header__list">
      <li class="header__item"><a href="#">Generate</a></li>
      <li class="header__item"><a class="activated" href="#">Contact us</a></li>
      <li class="header__item"><a href="#">Pricing</a></li>
      <li class="header__item"><a href="#">Blog</a></li>
    </ul>
  </nav>
  <div class="header__language-wrap tablet-hidden">
    <p class="header__language">En</p>
    <img src="../../img/downarrow.svg" alt="">
  </div>
  <div class="header__btn-wrap tablet-hidden">
    <a class="header__login">Log in</a>
    <button class="btn header__signup">Sign up</button>
  </div>
  <div class="burger desktop-hidden">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
  </div>
</header>
