<header class="header">
  <h1>iTerms</h1>
  <nav class="header__nav tablet-hidden">
    <ul class="header__list">
      <li class="header__item"><a href="#">Generate</a></li>
      <li class="header__item"><a class="activated" href="#">Contact us</a></li>
      <li class="header__item"><a href="#">Pricing</a></li>
      <li class="header__item"><a href="#">Blog</a></li>
    </ul>
  </nav>
  <div class="dropdown header__language-wrap tablet-hidden">
    <button onclick="showHide()" class="dropbtn header__language">
      En
      <img class="header__arrow" src="../../img/downarrow.svg" alt="">
    </button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">English</a>
      <a href="#">Russian</a>
    </div>
  </div>
  <div class="header__btn-wrap tablet-hidden">
    <a class="header__login">Log in</a>
    <button class="btn header__signup">Sign up</button>
  </div>
  <div onclick="openNav()" class="burger desktop-hidden">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</header>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Generate</a>
  <a href="#">Contact us</a>
  <a href="#">Pricing</a>
  <a href="#">Blog</a>
  <a href="#">Account</a>
  <div class="backgrnd"></div>
</div>
