<header class="header">
  <h1>iTerms</h1>
      <nav class="header__nav">
        <ul>
          <li>Generate</li>
          <li>Contact us</li>
          <li>Pricing</li>
          <li>Blog</li>
        </ul>
      </nav>
      <div class="header__language">
        <p>En</p>
        <img src="assets/images/language.svg" alt="">
      </div>
      <div class="btn header__btn">
        <button class="btn header__login">Log in</button>
        <button class="btn header__signup">Sign up</button>
      </div>
</header>
