<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/main.min.js"></script>

<!-- SWIPER -->

  <script>
    // let swiper = new Swiper(".mySwiper", {
    //   navigation: {
    //     nextEl: ".slider__chevron-right",
    //     prevEl: ".slider__chevron-left",
    //   },
    // });
  </script>

  <!-- ACCORDEON -->
 
  <script>
    // let acc = document.querySelectorAll(".accordion");

    // let accOpener = function() {
    //   this.classList.toggle("active");  
    //   let panel = this.nextElementSibling;
    //   if (panel.style.maxHeight) {
    //     panel.style.maxHeight = null;
    //   } else {
    //     panel.style.maxHeight = panel.scrollHeight + "px";
    //   }
    // }
    // acc.forEach( elem => elem.addEventListener("click", accOpener ) );
  </script>

  <!-- DROPDOWNS -->

  <script>
    // function showHide() {
    //     document.querySelector("#myDropdown").classList.toggle("show");
    // }
    // function tocShowHide() {
    //     document.querySelector("#tocDropdown").classList.toggle("show");
    // }
    // function botShowHide() {
    //     document.querySelector("#botDropdown").classList.toggle("show");
    // }

    // // Close the dropdown if the user clicks outside of it
    // // повешать обработчик на кнопку
    // window.onclick = function(event) {
    //   if (!event.target.matches('.dropbtn')) {
    //     let dropdowns = document.querySelectorAll(".dropdown-content");
    //     dropdowns.forEach( elem => { 
    //       if ( elem.classList.contains('show')) {
    //         elem.classList.remove('show');
    //       }
    //      } )
    //   }
    // }
  </script>

  <!-- SIDE MENU -->
  
<script>
  // function openNav() {
  //   document.querySelector("#mySidenav").style.width = "360px";
  //   document.querySelector("#fade").style.height = "100vh";
  // }

  // function closeNav() {
  //   document.querySelector("#mySidenav").style.width = "0";
  //   document.querySelector("#fade").style.height = "0";
  // } 
</script>


