 .accordion {
  position: relative;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #e1dcf9 ;
  border-radius: 0.5rem;
}

// .panel {
//   padding: 0 18px;
//   background-color: #F1F3F6;
//   display: none;
//   overflow: hidden;
// } 

.panel {
  // padding: 0 18px;
  background-color: #F1F3F6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  position: absolute;
  top: -0.3rem;
  left: -2rem;
  content: '+';
  font-size: 2rem;
  color: #8770FF;
}

.active:after {
  content: "-"; 
}

@media (max-width: 361px) {

  .panel {
    padding: 0;
  } 


}