 .accordion {
  position: relative;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #e1dcf9 ;
  border-radius: 0.5rem;
}

.panel {
  padding: 0 18px;
  background-color: #F1F3F6;
  display: none;
  overflow: hidden;
} 

.accordion:after {
  position: absolute;
  top: -0.3rem;
  left: -2rem;
  content: '+';
  font-size: 2rem;
  color: #8770FF;
}

.active:after {
  content: "-"; 
}

@media (max-width: 361px) {

  .panel {
    padding: 0;
  } 


}