



// ---------------- READY ---------------------

.ready {
  color: #1D212A  ;

  

  // .ready__wrapper

  &__wrapper {
    position: absolute;
    background-color: #FFFFFF;
    width: 60%;
    top: -3.8rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 1em;
    box-shadow: 0 1rem 1rem 1rem rgba(34,60,80,0.1);

  }

  // .ready__title-wrapper

  &__title-wrapper {
    width: 35em;
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 3.8em;
  }

  // .ready__title

  &__title {
  }

  // .ready__subtitle

  &__subtitle {
  }

  // .ready__btn-wrapper

  &__btn-wrapper {
    width: 35%;
    margin: 0 auto;
    padding-bottom: 3.75rem;
    display: flex;
    justify-content: space-evenly;
  }
  // .ready__btn

  &__btn {
  }
  
  // .ready__learn

  &__learn {
    align-self: center;
  }


}

// ---------------- FOOTER ---------------------

.footer {
  position: relative;
  background-image: url(../img/footer_backgroung.svg);
  color: #FFFFFF;
  height: 780px;

  & a {
    color: #FFFFFF;
  }
  // .footer__wrapper

  &__wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5em;
    width: 60%;
    margin: 0 auto;
  }

  // .footer__content-wrapper

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  // .footer__title

  &__title {
    line-height: 1;
  }

  // .footer__subtitle

  &__subtitle {
    color: #FFFFFF;
  }

  // .footer__list-wrappper

  &__list-wrapper {
  }

  // .footer__legal

  &__legal {
    width: 60%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }

   // .footer__legal-wrapper

   &__legal-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.info {

  // .info__title

  &__title {
    margin-bottom: 2rem;
  }

  // .info__list

  &__list {
    color: #FFFFFF;
  }

  // .info__item

  &__item {
    margin-bottom: 0.5em;
  }
}
.copyright {
}

.legal {


  
  
  // .legal__list

  &__list {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly; 
  }

  // .legal__item

  &__item {
   
  }

  &__item-language {
    position: relative;

      &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0.125em;
      right: -2em;
      background-image: url(../img/down_arrow_white.svg);
      height: 1.5em;
      width: 1.5em;
      }
  }


  
}

hr {
  color: #FFFFFF;
}

.ready a {
  color: #1D212A;
}





@media (max-width: 769px) {

  .desktop-hidden {
    display: block;
  }

  .tablet-hidden {
    display: none;
  }


  .footer {
    background-image: url(../img/tablet_footer_backgroung.png);
    background-repeat: no-repeat;
    height: 741px;

  }

  .footer__wrapper {
    width: 90%;

    
  }

  .footer__legal {
    width: 90%;
  }

}

















.desktop-hidden {
  display: none;
}