
// ---------------- QUESTIONS ---------------------

.questions {


  // .questions__wrapper

  &__wrapper {
    margin: 0 auto 12rem auto;
  }

  // .questions__title-wrapper

  &__title-wrapper {
    width: 45em;
    margin: auto;
    text-align: center;
    margin-bottom: 3.75rem;
  }

  // .questions__pretitle

  &__pretitle {
  }

  // .questions__title

  &__title {
  }

  // .questions__subtitle

  &__subtitle {
  }

	// .questions__menu

	&__menu {
    flex-shrink: 0;
    margin-right: 4.5rem;
		}

  &__container {
    display: flex;
  }

// ---------------- QUESTIONS TOC ---------------------

.toc {

  // .toc__title

  &__title {
    margin-bottom: 1.5rem;
  }

  // .toc__list

  &__list {
    padding-left: 0;
  }

  // .toc__item

  &__item {
    margin-bottom: 0.5em;

  }
}
.questions {

  // .questions__list-wrapper

  &__list-wrapper {
  }

  // .questions__list

  &__list {
  }

  // .questions__item

  &__item {
    position: relative;
    padding: 1rem 1rem 1rem 2rem;
    border-bottom: 2px solid #B6BFD9;

    // &:before {
    //   content: url(../img/plus.svg);
    //   position: absolute;
    //   left: 0;
    //   top: 1.3em;
    //   cursor: pointer;
    // }
  }

  // &__item-active {
  //   &:before {
  //     content: url(../img/minus.svg);
  //   }
  // }
}
.question {

  // .question__title

  &__title {
  }

  // .question__answer

  &__answer {
    padding-top: 1em;
    padding-bottom: 3em;
  }
}
}

