@import 'base/*.scss';
@import 'global/*.scss';
// @import '**/_*.scss';
@import '../components/**/*.scss';

html {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #1D212A;
  margin: 0;
}

body {
  background-color: #F1F3F6;
  position: relative;
  margin: 0;

}

h1 {
  font-weight: 300;
}
h5 {
  font-weight: 400;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #1D212A;
}

.activated {
  color: #8770FF !important;
}

.desktop-hidden {
  display: none;
}

img {
  max-width: 100%;
}

// ---------------- UNIVERSAL CLASSES ---------------------

.wrapper {
  width: 62%;
}

.back-text {
  position: absolute;
  top: -6rem;
  right: 0;
  margin: 0 51rem 0 auto;
  font-size: 18em;
  font-weight: 300;
  background: linear-gradient( #FFFFFF 0%, #F1F3F6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  text-align: left;
}

.pretitle {
  font-weight: 500;
  font-size: 1.125em;
  text-transform: uppercase;
  color: #B6BFD9;
  margin-bottom: 1em;
}

.title {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 1rem;

}

.subtitle {
  font-size: 1rem;
  color: #565A65;
}

// ---------------- BTN ---------------------

.btn {
  background-color: #8770FF;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 0.75em 2em;
  cursor: pointer;
}

.learn {
  position: relative;
  text-decoration: none;
  color: #1D212A;
  cursor: pointer;
  margin-left: 1em;
}

.learn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -2em;
  background-image: url(../../src/img/rightarrow.svg);
  height: 1.5em;
  width: 1.5em;
}


@import '../scss/header.scss';
@import '../scss/intro.scss';
@import '../scss/ai.scss';
@import '../scss/how.scss';
@import '../scss/explore.scss';
@import '../scss/compare.scss';
@import '../scss/secure.scss';
@import '../scss/feedback.scss';
@import '../scss/discover.scss';






// ---------------- DISCOVER ---------------------

.discover {


  // .discover__wrapper

  &__wrapper {
    margin: 0 auto 12rem auto;
  }
  // .discover__title-wrapper

  &__title-wrapper {
    width: 32em;
    margin: 0 auto 3.75rem auto;
    text-align: center;
  }

  // .discover__pretitle

  &__pretitle {
  }

  // .discover__title

  &__title {
  }

  // .discover__subtitle

  &__subtitle {
  }

  // .discover__list

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.75rem;
    flex-wrap: wrap;
  }

  // .discover__item

  &__item {
  }

  // .discover__learn

  &__learn {
  }
}

.article {
  width: 15.9em;
  height: 27.75em;
  margin-right: 1.875em;
  color: #565A65;

  // .article__image

  &__image {
    width: 15.9em;
    height: 11.6em;
  }

  // .article__title

  &__title {
    margin-bottom: 1rem;
  }

  // .article__subtitle

  &__subtitle {
    margin-bottom: 1.5rem;
  }
}

.discover__btn-wrap {
  width: 9.375em;
  margin: auto;
}

// ---------------- QUESTIONS ---------------------

.questions {


  // .questions__wrapper

  &__wrapper {
    margin: 0 auto 12rem auto;
  }

  // .questions__title-wrapper

  &__title-wrapper {
    width: 45em;
    margin: auto;
    text-align: center;
    margin-bottom: 3.75rem;
  }

  // .questions__pretitle

  &__pretitle {
  }

  // .questions__title

  &__title {
  }

  // .questions__subtitle

  &__subtitle {
  }

	// .questions__menu

	&__menu {
    flex-shrink: 0;
    margin-right: 4.5rem;
		}

  &__container {
    display: flex;
  }

// ---------------- QUESTIONS TOC ---------------------

.toc {

  // .toc__title

  &__title {
    margin-bottom: 1.5rem;
  }

  // .toc__list

  &__list {
    padding-left: 0;
  }

  // .toc__item

  &__item {
    margin-bottom: 0.5em;

  }
}
.questions {

  // .questions__list-wrapper

  &__list-wrapper {
  }

  // .questions__list

  &__list {
  }

  // .questions__item

  &__item {
    position: relative;
    padding: 1rem 1rem 1rem 2rem;
    border-bottom: 2px solid #B6BFD9;

    // &:before {
    //   content: url(../img/plus.svg);
    //   position: absolute;
    //   left: 0;
    //   top: 1.3em;
    //   cursor: pointer;
    // }
  }

  // &__item-active {
  //   &:before {
  //     content: url(../img/minus.svg);
  //   }
  // }
}
.question {

  // .question__title

  &__title {
  }

  // .question__answer

  &__answer {
    padding-top: 1em;
    padding-bottom: 3em;
  }
}
}





@import '../scss/footer.scss';
@import '../scss/tablet.scss';
@import '../scss/zmobile.scss';













.feedback {
  position: relative;
}



