@import 'base/*.scss';
@import 'global/*.scss';
// @import '**/_*.scss';
@import '../components/**/*.scss';

html {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #1D212A;
  margin: 0;
}

body {
  background-color: #F1F3F6;
  position: relative;
  margin: 0;

}

h1 {
  font-weight: 300;
}
h5 {
  font-weight: 400;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #1D212A;
}

.activated {
  color: #8770FF;
}

.desktop-hidden {
  display: none;
}

img {
  max-width: 100%;
}

// ---------------- UNIVERSAL CLASSES ---------------------

.wrapper {
  width: 62%;
}

.back-text {
  position: absolute;
  top: -6rem;
  right: 0;
  margin: 0 51rem 0 auto;
  font-size: 18em;
  font-weight: 300;
  background: linear-gradient( #FFFFFF 0%, #F1F3F6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  text-align: left;
}

.pretitle {
  font-weight: 500;
  font-size: 1.125em;
  text-transform: uppercase;
  color: #B6BFD9;
  margin-bottom: 1em;
}

.title {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 1rem;

}

.subtitle {
  font-size: 1rem;
  color: #565A65;
}

// ---------------- BTN ---------------------

.btn {
  background-color: #8770FF;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 0.75em 2em;
  cursor: pointer;
}

.learn {
  position: relative;
  text-decoration: none;
  color: #1D212A;
  cursor: pointer;
  margin-left: 1em;
}

.learn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -2em;
  background-image: url(../../src/img/rightarrow.svg);
  height: 1.5em;
  width: 1.5em;
}

// ---------------- HEADER ---------------------

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 60%;
  height: 4.5em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__language-wrap {
    display: inline-flex;
  }

  &__list {
    display: inline-flex;

  }

  &__item {
    margin-right: 1.6em;
  }

  &__login {
    text-decoration: none;
    color: #1D212A;
    margin-right: 1em;
  }
}

/*---------------- BURGER ----------------*/

.burger {
  position: absolute;
  top: 1.25em;
  right: 2em;
}

.bar {
  width: 1.225em;
  height: 2px;
  background-color: #1D212A;
  margin: 3px 0;
}



// ---------------- INTRO ---------------------

.intro {
  background-image: url(../img/intro_background.svg);
  background-repeat: no-repeat;
  height: 70vh;
  padding-top: 10em;
  margin-bottom: 18.5em;

  &__wrapper {
    height: 23em;
    margin: 0 auto;
  }

  &__title-wrapper {
    width: 40%;
  }

  &__subtitle {
    font-size: 1.25em;
    margin-bottom: 2.5em;
  }

  &__btn {
    margin-right: 1em;
  }
}




.free {
  color: #32D989;
  font-weight: bold;
}

// ---------------- AI ---------------------

.ai {
  position: relative;
  background: {
    image: url(../img/screens.svg);
    repeat: no-repeat;
    size: 50%;
    position: 0 3em;
  }
  
  // .ai__wrapper

  &__wrapper {
    margin: 0 auto 12rem;
  }

  &__content-wrapper {
    width: 40%;
    margin: 0 0 0 52%;
  }

  // .ai__title-wrapper

  &__title-wrapper {
    margin-bottom: 3em;
  }

  // .ai__pretitle

  &__pretitle {

  }

  // .ai__title

  &__title {
  }

  // .ai__subtitle

  &__subtitle {
  }

  // .ai__advantages

  &__advantages {
  }
}

.advantages {

  // .advantages__list

  &__list {
    list-style-image: url('./../img/Done!.svg');
    margin-bottom: 2.8em;
    padding-left: 2em;
  }

  // .advantages__item

  &__item {
   margin-bottom: 0.7em;


  // .advantages__btn

  &__btn {
  }

  // .advantages__learn

  &__learn {
  }
}
.btn {
}
.learn {
}
}

// ---------------- HOW ---------------------

.how {

  // .how__wrapper

  &__wrapper {
    margin: 0 auto 12rem auto;
  }

  // .how__title-wrapper

  &__title-wrapper {
    width: 45%;
    margin: 0 0 -1.25rem 40%;
  }

  // .how__pretitle

  &__pretitle {
  }

  // .how__title

  &__title {
  }

  // .how__subtitle

  &__subtitle {
  }

  // .how__steps-wrap

  &__steps-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 400;
    margin-right: 7rem;
    height: 18.5rem;
  }
 

  // .how__numbers
  
  &__numbers-wrap {
  }

  // .how__numbers

  &__numbers {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    color: #8770FF;
    margin-bottom: 2rem;
    padding-right: 10rem;
  }

  // .how__number

  &__number {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    padding: 1em;
    border: 1px #8770FF solid;
    border-radius: 50%;

    
    &::after {
      content: "";
      position: absolute;
      left: 100%;
      border-bottom: 1px solid #8770FF;
      width: 173%;
    }
  }

  &__number-one {

    &::before {
      content: "";
      position: absolute;
      right: 100%;
      border-bottom: 1px solid #8770FF;
      width: 7em;
      z-index: -5;
    }
  }




  // .how__steps

  &__steps {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
  }

  // .how__step

  &__step {
  }

  // .how__step-two

  &__step-two {
    margin: 0 1rem;
  }

  // .how__vid

  &__vid {
    position: relative;
    align-self: flex-start;
    background-image: linear-gradient(145deg, #AA9AFF, #8770FF);
    // background-repeat: no-repeat;
    // background-position: 0 0;
    border-radius: 1em;
    width: 21.875em;
    height: 15.9em;

    &::before {
      content: "";
      position: absolute;
      right: 21.875em;
      top: 50%;
      border-bottom: 1px solid #B6BFD9;
      width: 30em;
      z-index: -5;
    }
    
  }
}




// ---------------- EXPLORE ---------------------

.explore {
  position: relative;
  padding-bottom: 5em;
  overflow: hidden;
  &__back-text {
    
    margin: 0 auto;
  }

  // explore__wraper

  &__wrapper {
    position: relative;
    margin: 0 auto;
  }
  // .explore__content-wrap

  &__content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8em;
  }

  // .explore__title-wrap

  &__title-wrap {
  }

  // .explore__pretitle

  &__pretitle {
  }

  // .explore__title

  &__title {
  }

  // .explore__subtitle

  &__subtitle {
  }

   // .explore__slider

   &__slider {
  }

  // .explore__background

  &__background {
    position: relative;
    background-color: #F9FAFC;
    box-shadow: 0 2rem 3rem 1rem #D8E0EC ;
    width: 51.5em;
    height: 28.6em;
  }

  // .explore__chevrons

  &__chevrons {
    right: 2em;
    bottom: 2em;
  }


}

// ---------------- EXPLORE SLIDER ---------------------

.slider {

  // .slider__list

  &__list {
    position: relative;
    top: -4.375em;
    left: 0;
  }


  // .slider__wrap

  &__wrap {
    padding: 1.5rem;
  }

  // .slider__item

  &__item {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 3rem -1rem #D8E0EC ;
    width: 16rem !important;
    height: 26.6rem;
    margin: 0 1.875em;
    flex-shrink: 0;


    // .slider__item_privacy

    &_privacy {
    }

    

    // .slider__item_terms

    &_terms {
    }

    // .slider__item_cookie

    &_cookie {
    }

    // .slider__item_eula

    &_eula {
    }

    // .slider__item_disclaimer

    &_disclaimer {
    }

    // .slider__item_refund

    &_refund {
    }
  }

  // .slider__icon

  &__icon {
    width: 3.75rem;
    height: 3.75rem;
    margin-bottom: 1rem;
  }

  // .slider__title

  &__title {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 1rem;

  }

  // .slider__subtitle

  &__subtitle {
    margin-bottom: 1.8em;
    color: #565A65;
  }

  // .slider__btn-wrap

  &__btn-wrap {
    text-align: center;
  }

  // .slider__btn

  &__btn {
    width: 90%;
    margin-bottom: 0.75em;
  }

  // .slider__learn

  &__learn {
    margin-left: 0;
  }

  // .slider__chevrons

  &__chevrons {
    display: flex;
    justify-content: end;
    position: relative;
    right: 2em;
    bottom: 2em;
    padding: 0 3em 2.4em 0;
  }

  // .slider__chevron

  &__chevron {
    margin: 0 2em 0 2em;
    width: 1.5em;
    height: 1.5em;
  }

  // .chevron__chevron-left

  &__chevron-left {
    cursor: pointer;
    margin-right: 1em;
  }

  // .chevron__chevron-right

  &__chevron-right {
    cursor: pointer;
  }
}

// ---------------- COMPARE ---------------------

.compare {
  text-align: center;

  // .compare__wrapper

  &__wrapper {
    position: relative;
    margin: auto;
  }

  // .compare__cards

  &__cards {
    position: absolute;
  }

  // .compare__cards-44

  &__cards-44 {
    left: -8rem;
  }

  // .compare__cards-19-9

  &__cards-19-9 {
    top: 23em;
    left: -15rem;
  }

  // .compare__cards-49-29

  &__cards-49-29 {
    top: -3em;
    right: -12em;
  }

  // .compare__cards-29

  &__cards-29 {
    bottom: 18em;
    right: -15em;
  }

  &__marker {
    position: absolute;
    bottom: -8.3em;
    right: 1em;
    z-index: 10;
  }
  


  // .compare__content-wrapper

  &__content-wrapper {
    background-color: #EBEEF3;
    width: 70.7em;
    height: 70.7em;
    border-radius: 50%;
    padding-top: 9em;
  }
  // .compare__pretitle

  &__pretitle {
  }

  // .compare__title

  &__title {
  }

  // .compare__subtitle

  &__subtitle {
    margin-bottom: 5em;
  }

  // .compare__price

  &__price {
    background-image: url(../img/Marker_circle.svg);
    background-repeat: no-repeat;
    background-position: 53% top;
    overflow: visible;
    position: relative;
    padding: 4rem;
  }

  // .compare__six

  &__six {
    font-size: 4em;
  }

  &__dec {
    position: relative;
    top: -3em;
  }

  // .compare__benefits

  &__benefits {
    position: absolute;
    bottom: -10em;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 1em;
    box-shadow: 0 1em 2em rgba(34, 60, 80, 0.2);
  }

  // .compare__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 7em;
  }

  // .compare__item

  &__item {
    margin: 2em 2em;
    width: 8em;

  }
}

.price {

  // .price__title

  &__title {
  }

  // .price__subtitle

  &__subtitle {
  }
}

// ---------------- SECURE ---------------------

.secure {
  background-image: url(../img/Legal_Protection_You.svg);
  color: #FFFFFF;
  height: 779px;
  
  // .secure__wrapper

  &__wrapper {
    margin: auto;
  }

  // .secure__title-wrapper

  &__title-wrapper {
    padding-top: 7.5em;
    margin-bottom: 3em;
  }

  // .secure__pretitle

  &__pretitle {
    color: #FFFFFF;

  }

  // .secure__title

  &__title {
  }

  // .secure__subtitle

  &__subtitle {
    color: #FFFFFF;

  }

  // .secure__benefits

  &__benefits {
  }

  // .secure__list

  &__list {
    position: relative;
    display: flex;
    flex-shrink: 0;
    height: 20.5em;
    padding-left: 2.5em;
  }

  // .secure__item

  &__item {
    margin-right: 3em;

    // .secure__item_policies

    &_policies {
      align-self: flex-end;
    }

    // .secure__item_business

    &_business {
      align-self: center;
    }

    // .secure__item_pageviews

    &_pageviews {
      align-self: flex-start;
    }
  }

  // .secure__icon

  &__icon {
  }
}

.item {

  // .item__title

  &__title {
    font-size: 2.375em;
  }

  // .item__subtitle

  &__subtitle {
  }
}

// ---------------- FEEDBACK ---------------------

.feedback {
  overflow: hidden;
 
  // .feedback__wrapper

  &__wrapper {
    position: relative;
    margin: 0 auto;
  }

   // .feedback__back-text

   &__back-text {
    position: absolute;
    top: 2rem;
    left: -6rem;
    font-size: 12em;
    font-weight: 700;
    background: linear-gradient( #FFFFFF 0%, #F1F3F6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    text-align: left;

  }
  // .feedback__content-wrapper

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8em;
    padding-top: 7.7em;
  }

  // .feedback__title-wrapper

  &__title-wrapper {
  }

  // .feedback__pretitle

  &__pretitle {
  }

  // .feedback__title

  &__title {
  }

  // .feedback__subtitle

  &__subtitle {
  }
}

// ---------------- FEEDBACK SLIDER ---------------------

.feedback {
  margin-bottom: 11em;
  // .feedback__slider

  &__slider {
    margin-bottom: 3.75rem;
  }

  // .feedback__background

  &__background {
    position: relative;
    background-color: #F9FAFC;
    border-radius: 0.5em;
    box-shadow: 0 2rem 3rem 1rem #D8E0EC ;
    width: 51.5em;
    height: 18em;
  }

  // .feedback__list

  &__list {
    position: relative;
    top: -8em;
    left: 4em;
  }

  // .feedback__item

  &__item {
  }

  // .feedback__item-wrap

  &__item-wrap {

  }

  // .feedback__title

  &__title {
  }

  // .feedback__title

  &__chevrons {
    bottom: 6em;
  }

}
.review {

  // .review__wrap

  &__wrap {
    display: flex;
    margin-bottom: 1rem;
  }

  // .review__photo

  &__photo {
    margin-right: 1em;
  }

  &__person {
  }

  // .review__name

  &__name {
  }

  // .review__subttile

  &__subttile {
  }

  // .review__card

  &__card {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 3rem -1rem #D8E0EC ;
    width: 33.75rem;
    height: 16rem;
    margin-right: 1.875em;
    flex-shrink: 0;
    padding: 2em 5em;

  }

  // .review__quote

  &__quote {
    margin: 0 0 0.625em 0;
    color: #565A65;
  }

  // .review__rating-wrap

  &__rating-wrap{
    display: flex;
    align-items: center;
  }


  // .review__rating

  &__rating {
    margin-right: 0.5em;
  }

  &__star {
    width: 16px;
    height: 16px;
  }
}

.trustpilot {
  display: flex;
  justify-content: center;

  & p, img {
    margin-right: 1rem;

  }

  // .trustpilot__text

  &__text {
  }

  // .trustpilot__stars

  &__stars {
  }

  // .trustpilot__logo

  &__logo {
  }
}


// ---------------- DISCOVER ---------------------

.discover {


  // .discover__wrapper

  &__wrapper {
    margin: 0 auto 12rem auto;
  }
  // .discover__title-wrapper

  &__title-wrapper {
    width: 32em;
    margin: 0 auto 3.75rem auto;
    text-align: center;
  }

  // .discover__pretitle

  &__pretitle {
  }

  // .discover__title

  &__title {
  }

  // .discover__subtitle

  &__subtitle {
  }

  // .discover__list

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.75rem;
    flex-wrap: wrap;
  }

  // .discover__item

  &__item {
  }

  // .discover__learn

  &__learn {
  }
}

.article {
  width: 15.9em;
  height: 27.75em;
  margin-right: 1.875em;
  color: #565A65;

  // .article__image

  &__image {
    width: 15.9em;
    height: 11.6em;
  }

  // .article__title

  &__title {
    margin-bottom: 1rem;
  }

  // .article__subtitle

  &__subtitle {
    margin-bottom: 1.5rem;
  }
}

.discover__btn-wrap {
  width: 9.375em;
  margin: auto;
}

// ---------------- QUESTIONS ---------------------

.questions {


  // .questions__wrapper

  &__wrapper {
    margin: 0 auto 12rem auto;
  }

  // .questions__title-wrapper

  &__title-wrapper {
    width: 45em;
    margin: auto;
    text-align: center;
    margin-bottom: 3.75rem;
  }

  // .questions__pretitle

  &__pretitle {
  }

  // .questions__title

  &__title {
  }

  // .questions__subtitle

  &__subtitle {
  }

	// .questions__menu

	&__menu {
    flex-shrink: 0;
    margin-right: 4.5rem;
		}

  &__container {
    display: flex;
  }

// ---------------- QUESTIONS TOC ---------------------

.toc {

  // .toc__title

  &__title {
    margin-bottom: 1.5rem;
  }

  // .toc__list

  &__list {
    padding-left: 0;
  }

  // .toc__item

  &__item {
    margin-bottom: 0.5em;

  }
}
.questions {

  // .questions__list-wrapper

  &__list-wrapper {
  }

  // .questions__list

  &__list {
  }

  // .questions__item

  &__item {
    position: relative;
    padding: 1rem 1rem 1rem 2rem;
    border-bottom: 2px solid #B6BFD9;

    // &:before {
    //   content: url(../img/plus.svg);
    //   position: absolute;
    //   left: 0;
    //   top: 1.3em;
    //   cursor: pointer;
    // }
  }

  // &__item-active {
  //   &:before {
  //     content: url(../img/minus.svg);
  //   }
  // }
}
.question {

  // .question__title

  &__title {
  }

  // .question__answer

  &__answer {
    padding-top: 1em;
    padding-bottom: 3em;
  }
}
}





@import '../scss/footer.scss';
@import '../scss/tablet.scss';
@import '../scss/zmobile.scss';













.feedback {
  position: relative;
}



