@media (max-width: 769px) {

  .header {
    width: 100%;
    padding: 0 2.8rem 0;
  }
  .wrapper {
    width: auto;
    padding: 0 2.8rem 0;
  }
  
  .desktop-hidden {
    display: block;
  }

  .tablet-hidden {
    display: none;
  }

  .back-text {
    position: absolute;
    top: -10rem;
    left: 2rem;
    margin: 0;
  }

// ---------------- INTRO ---------------------

  .intro {
    text-align: center;
		margin-bottom: 40rem;
    // .intro__wrapper

		&__wrapper {
		}

		// .intro__title-wrapper

		&__title-wrapper {
      width: 100%;
		}

		// .intro__pretitle

		&__pretitle {
		}

		// .intro__title

		&__title {
      font-size: 4rem;
      background-image: url(../img/titleMarker.svg);
      background-repeat: no-repeat;
      background-position: 0 2.5em;
      padding-bottom: 2rem;
    }

		// .intro__subtitle

		&__subtitle {
		}

		// .intro__btn

		&__btn {
		}

		// .intro__learn

		&__learn {
		}
  }

// ---------------- AI ---------------------

  .ai {
    background-image: none;
		// .ai__wrapper

		&__wrapper {
		}

		// .ai__content-wrapper

		&__content-wrapper {
      width: auto;
      margin: 0;
		}

		// .ai__title-wrapper

		&__title-wrapper {
		}

		// .ai__pretitle

		&__pretitle {
		}

		// .ai__title

		&__title {
      margin-bottom: 3rem;
      width: 10em;
		}

		// .ai__subtitle

		&__subtitle {
		}

		// .ai__advantages

		&__advantages {
		}
  }

  .advantages {

		// .advantages__list

		&__list {
      padding-left: 4em;
		}

		// .advantages__item

		&__item {
		}

		// .advantages__btn

		&__btn {
		}

		// .advantages__learn

		&__learn {
		}
  }

// ---------------- HOW ---------------------

  .how {
    height: 100%;
    text-align: center;
    margin-bottom: 20em;
		// .how__wrapper

		&__wrapper {
		}

		// .how__title-wrapper

		&__title-wrapper {
      margin: 0 auto 3.75em;
		}

		// .how__pretitle

		&__pretitle {
		}

		// .how__title

		&__title {
		}

		// .how__subtitle

		&__subtitle {
		}

		// .how__steps-wrap

		&__steps-wrap {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
		}

		// .how__vid

		&__vid {

      &::before {
        display: none;
      }
		}

		// .how__numbers-wrap

		&__numbers-wrap {
      margin-bottom: 3.75em;
      width: 85%;
		}

		// .how__numbers

		&__numbers {
      padding-right: 0;
      justify-content: space-around;
		}

		// .how__number

		&__number {

      &::after {
      }

		}

		// .how__number-one

		&__number-one {
      &::before {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        left: 100%;
        border-bottom: 1px solid #8770FF;
        width: 229%;
      }
		}

		// .how__number-two

		&__number-two {

      &::after {
        content: "";
        position: absolute;
        left: 100%;
        border-bottom: 1px solid #8770FF;
        width: 229%;
      }
		}

		// .how__number-three

		&__number-three {

      &::after {
        display: none;
      }
		}

		// .how__steps

		&__steps {
		}

		// .how__step

		&__step {
		}
}

// ---------------- EXPLORE ---------------------

.explore {

  // .explore__wrapper

  &__wrapper {
  }

  // .explore__back-text

  &__back-text {
    top: -7rem;
  }

  // .explore__content-wrap

  &__content-wrap {
  }

  // .explore__title-wrap

  &__title-wrap {
  }

  // .explore__pretitle

  &__pretitle {
  }

  // .explore__title

  &__title {
  }

  // .explore__subtitle

  &__subtitle {
    width: 40%;
    align-self: flex-end;
  }

  // .explore__slider

  &__slider {
  }

  // .explore__background

  &__background {
  }
}

// ---------------- COMPARE ---------------------

.compare {
  margin-bottom: 23.3em;

  // .compare__wrapper

  &__wrapper {
  }

  // .compare__cards

  &__cards {
  }

  // .compare__cards-44

  &__cards-44 {
    top: -10rem;
    right: -31rem;
  }

  // .compare__cards-19-9

  &__cards-19-9 {
  }

  // .compare__cards-49-29

  &__cards-49-29 {
  }

  // .compare__cards-29

  &__cards-29 {
  }

  // .compare__cards-9-29

  &__cards-9-29 {
    left: 0;
    bottom: 0;
  }

  // .compare__marker

  &__marker {
  }

  // .compare__content-wrapper

  &__content-wrapper {
    background: none;
    width: auto;
    height: auto;
  }

  // .compare__pretitle

  &__pretitle {
  }

  // .compare__title

  &__title {
  }

  // .compare__subtitle

  &__subtitle {
    margin-bottom: 4em;
  }

  // .compare__track

  &__track {
    margin-bottom: 5.3em;
  }

  // .compare__price

  &__price {
    background-position: 56% top;
  }

  // .compare__learn

  &__learn {

    &::after {

      right: 16em;
     }

  }

  // .compare__dec

  &__dec {
  }

  // .compare__six

  &__six {
  }

  // .compare__benefits

  &__benefits {
    bottom: -27em;
    width: 678px;
    height: 376px;
    margin: 0 auto; 
  }

  // .compare__list

  &__list {
    padding: 0;
  }

  // .compare__item

  &__item {
    margin: 1em;
  }
}
.track {

  // .track__first

  &__first {
    display: inline;
  }

  // .track__followwing

  &__following {
    display: inline;
  }
}
.price {

  // .price__title

  &__title {
  }

  // .price__subtitle

  &__subtitle {
  }
}




}