// (min-width: 361px) and

@media (max-width: 769px) {

  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 1.25rem;
  }

  .header {
    width: 100%;
    padding: 0 2.8rem 0;
  }
  .wrapper {
    width: auto;
    padding: 0 2.8rem 0;
  }
  
  .desktop-hidden {
    display: block;
  }

  .tablet-hidden {
    display: none;
  }

  .back-text {
    position: absolute;
    top: 28rem;
    left: 2rem;
    margin: 0;
  }

// ---------------- INTRO ---------------------

  .intro {
    height: auto;
    text-align: center;
		margin-bottom: 10rem;

		// .intro__image

    &__image {
      position: relative;
      left: 10em;

    }

		// .intro__title-wrapper

		&__title-wrapper {
      width: 100%;
		}

		// .intro__title

		&__title {
      font-size: 4rem;
      background-image: url(../img/titleMarker.svg);
      background-repeat: no-repeat;
      background-position: 0 2.5em;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }

    &__btn-wrap {
      display: flex;
      justify-content: center;
    }

  }

// ---------------- AI ---------------------

  .ai {
    background-image: none;

		// .ai__content-wrapper

		&__content-wrapper {
      width: auto;
      margin: 0;
		}

		// .ai__title

		&__title {
      margin-bottom: 3rem;
      width: 10em;
		}
  }

  .advantages {

		// .advantages__list

		&__list {
      padding-left: 4em;
		}

		// .advantages__item

    &__item {
      line-height: 1;
    }

  }

// ---------------- HOW ---------------------

  .how {
    height: 100%;
    text-align: center;
    margin-bottom: 30em;

		// .how__title-wrapper

		&__title-wrapper {
      margin: 0 auto 3.75em;
		}


		// .how__steps-wrap

		&__steps-wrap {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
		}

		// .how__vid

		&__vid {
      width: 550px;
      height: 403px;

      &::before {
        display: none;
      }
		}

		// .how__numbers-wrap

		&__numbers-wrap {
      margin-bottom: 3.75em;
      width: 85%;
		}

		// .how__numbers

		&__numbers {
      padding-right: 0;
      justify-content: space-around;
		}

		// .how__number

		&__number {

      &::after {
      }

		}

		// .how__number-one

		&__number-one {
      &::before {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        left: 100%;
        border-bottom: 1px solid #8770FF;
        width: 229%;
      }
		}

		// .how__number-two

		&__number-two {

      &::after {
        content: "";
        position: absolute;
        left: 100%;
        border-bottom: 1px solid #8770FF;
        width: 229%;
      }
		}

		// .how__number-three

		&__number-three {

      &::after {
        display: none;
      }
		}

}

// ---------------- EXPLORE ---------------------

.explore {
  overflow-x: hidden;

  
  // .explore__back-text

  &__background {
    width: auto;  
    border-radius: 0.5  em;
  }


  // .explore__back-text

  &__back-text {
    top: -7rem;
  }

  // .explore__subtitle

  &__subtitle {
    width: 40%;
    align-self: flex-end;
  }

}

// ---------------- COMPARE ---------------------

.compare {

  margin-bottom: 23.3em;


  // .compare__marker

  &__marker {
    right: -11em;
    bottom: -32em;
  }
  
  // .compare__cards-44

  &__cards-44 {
    top: -8rem;
    right: -31rem;
  }


  // .compare__cards-9-29

  &__cards-9-29 {
    left: 0;
    bottom: -15em;
  }

  // .compare__content-wrapper

  &__content-wrapper {
    background: none;
    width: auto;
    height: auto;
  }


  // .compare__subtitle

  &__subtitle {
    margin-bottom: 4em;
  }

  // .compare__track

  &__track {
    margin-bottom: 5.3em;
  }

  // .compare__price

  &__price {
    background-position: 56% top;
  }

  // .compare__learn

  &__learn {

    &::after {

      right: 16em;
     }

  }


  // .compare__benefits

  &__benefits {
    bottom: -27em;
    width: 90%;
    margin: 0 auto; 
  }

  // .compare__list

  &__list {
    padding: 0;
  }

  // .compare__item

  &__item {
    margin: 2em 1em;
  }
}
.track {

  // .track__first

  &__first {
    display: inline;
  }

  // .track__followwing

  &__following {
    display: inline;
  }
}


// ---------------- SECURE ---------------------

.secure {
  text-align: center;
  background-image: url(../img/legal_portec_tablet.png);
  background-repeat: no-repeat;
  height: auto;

  

  // .secure__list

  &__list {
    padding-left: 0;
    justify-content: space-around;
    height: 15.5em;
  }

  // .secure__item

  &__item {
    margin-right: 0;

    // .secure__item_policies

    &_policies {
      align-self: flex-start;
    }

    // .secure__item_business

    &_business {
      align-self: flex-start;

    }

    // .secure__item_pageviews

    &_pageviews {
      align-self: flex-start;

    }
  }

}

// ---------------- FEEDBACK ---------------------

.feedback {
  overflow-x: hidden;



  // .feedback__back-text

  &__back-text {
    top: 0;
    left: 1rem;
  }

  // .feedback__content-wrapper

  &__content-wrapper {
    padding-top: 5.6rem;
    margin-bottom: 10rem;
  }

  // .feedback__subtitle

  &__subtitle {
    width: 15.8em;
  }

  &__background {
    width: auto;
  }
}

// ---------------- DISCOVER ---------------------

.discover__wrapper {
  margin-bottom: 10rem;

  &__list {
    justify-content: space-around;
  }
}

.article {
  margin: 0 0 3.75em 0;
}

.discover__list {
  justify-content: space-around;
}

// ---------------- QUESTIONS ---------------------

.questions {

  // .questions__container

  &__container {
    display: block;

  }

  &__title-wrapper {
    text-align: left;

  }

  &__subtitle {
    width: 400px;
  }

  // .questions__list-wrapper

  &__list-wrapper {
    padding: 0;
  }

}

.toc {

  // .toc__title

  &__title {
  }

  // .toc__list

  &__list {
  }

  // .toc__item

  &__item {
  }
}

.dropdown {

  // .dropdown__learn

  &__learn {

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0.9em;
      right: -0.5em;
      background-image: url(../img/downarrow.svg);
      height: 1.5em;
      width: 1.5em;
    }
  }
}

.dropbtn {
}

.dropdown-content {
}






.question {

  // .question__title

  &__title {
  }

  // .question__answer

  &__answer {
  }
}



// ---------------- READY ---------------------

.ready {
  // .ready__wrapper

  &__wrapper {
    width: 90%;

  }

  // .ready__title-wrapper

  &__title-wrapper {
  }

  // .ready__title

  &__title {
  }

  // .ready__subtitle

  &__subtitle {
  }

  // .ready__btn-wrapper

  &__btn-wrapper {
    width: auto;
  }

  // .ready__btn

  &__btn {
  }

  // .ready__btn-tablet

  &__btn-tablet {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  // .ready__learn

  &__learn {
  }
}





}