@media (max-width: 361px) {

  body {
    // background-color: red;
  }

  .pretitle {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .wrapper {
    padding: 0 0.94rem;
  }
  
  .back-text {
    font-size: 8rem;
    top: 14rem;
    left: 0.5rem;
  }

  .mobile-hidden {
    display: none;
  }

  .mobile-revealed {
    display: block;
  }
  
// ---------------- INTRO ---------------------

  .intro {
    text-align: center;
		margin-bottom: 25rem;


     // .intro__pretitle
  
     &__pretitle {
       font-size: 0.875em;
    }

		// .intro__title-wrapper

		&__title-wrapper {
      width: 100%;
		}

		// .intro__title

		&__title {
      font-size: 2rem;
      background-image: url(../img/titleMarker.svg);
      background-repeat: no-repeat;
      background-position: 0 2.5em;
      background-size: 100%;



      padding-bottom: 2rem;
    
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// ---------------- AI ---------------------

.ai {

  // .ai__wrapper

  &__wrapper {
  }

  // .ai__content-wrapper

  &__content-wrapper {
  }

  // .ai__title-wrapper

  &__title-wrapper {
    margin-bottom: 1em;
  }

  // .ai__pretitle

  &__pretitle {
    margin-bottom: 0;
  }

  // .ai__title

  &__title {
    margin-bottom: 0;
  }

  // .ai__subtitle

  &__subtitle {
  }

  // .ai__advantages

  &__advantages {
  }
}

// ---------------- HOW ---------------------

.how {
  margin-bottom: 15em;
  // .how__wrapper

  &__wrapper {
  }

  // .how__title-wrapper

  &__title-wrapper {
    width: auto;
    margin-bottom: 2.75rem;
  }

  // .how__pretitle

  &__pretitle {
  }

  // .how__title

  &__title {
  }

  // .how__subtitle

  &__subtitle {
  }

  // .how__steps-wrap

  &__steps-wrap {
  }

  // .how__numbers-wrap

  &__numbers-wrap {
    width: 100%;
  }

  // .how__numbers

  &__numbers {
    justify-content: space-between;
  }

  // .how__number

  &__number {
  }

  // .how__number-one

  &__number-one {
    &::after {
      width: 131%;
    }
  }

  // .how__number-two

  &__number-two {
    &::after {
      width: 131%;
    }
  }

  // .how__number-three

  &__number-three {
  }

  // .how__steps

  &__steps {
    font-size: 1rem;
  }

  // .how__step

  &__step {
  }

  // .how__step-two

  &__step-two {
  }

  // .how__vid

  &__vid {
    height: 240px;
  }
}

// ---------------- EXPLORE ---------------------

.explore {

  // .explore__wrapper

  &__wrapper {
  }

  // .explore__back-text

  &__back-text {
  }

  // .explore__content-wrap

  &__content-wrap {
    display: block;
  }

  // .explore__title-wrap

  &__title-wrap {
  }

  // .explore__pretitle

  &__pretitle {
  }

  // .explore__title

  &__title {
  }

  // .explore__subtitle

  &__subtitle {
    width: auto;
  }

  // .explore__slider

  &__slider {
  }

  // .explore__background

  &__background {
    width: 100%;
  }
}

// ---------------- COMPARE ---------------------


.compare {
  margin-top: -7em;
  margin-bottom: 44em;

  // .compare__wrapper

  &__wrapper {
  }

  // .compare__cards

  &__cards {
  }

  // .compare__cards-44

  &__cards-44 {
    width: 220px;
    top: 0;
    left: 13rem;
  }

  // .compare__cards-9-29

  &__cards-9-29 {
    width: 260px;
    left: -3em;
    bottom: -13em;
  }

  // .compare__marker

  &__marker {
    width: 200px;
    right: -4.6rem;
    bottom: -8rem;
  }


  // .compare__price

  &__price {
    background-size: 50%;
    background-position: 58% 40%;
  }

  // .compare__dec

  &__dec {
    top: -1em;
  }

  // .compare__six

  &__six {
    font-size: 2rem;
  }

  // .compare__learn

  &__learn {
  }

  // .compare__benefits

  &__benefits {
    bottom: -47em;
  }

  // .compare__list

  &__list {
  }

  // .compare__item

  &__item {
  }
}

.track {

  // .track__first

  &__first {
  }

  // .track__following

  &__following {
  }
}
.price {

  // .price__title

  &__title {
    font-size: 1rem;
  }

  // .price__subtitle

  &__subtitle {
    font-size: 0.875rem;
  }
}

// ---------------- SECURE ---------------------

.secure {
  background-image: url(../img/legal_mobile.png);
  background-repeat: no-repeat;
  height: 808px;

  // .secure__wrapper

  &__wrapper {
  }

  // .secure__title-wrapper

  &__title-wrapper {
    padding-top: 6em;
  }


  // .secure__list

  &__list {
    display: block;
  }

  // .secure__item

  &__item {
    margin-bottom: 2rem;

  }

  // .secure__icon

  &__icon {
  }
}

// ---------------- FEEDBACK ---------------------

.feedback {
  margin-bottom: 6em;

  // .feedback__wrapper

  &__wrapper {
  }

  // .feedback__back-text

  &__back-text {
    top: 0;
  }

  // .feedback__content-wrapper

  &__content-wrapper {
    padding-top: 3rem;
    display: block;
  }

  // .feedback__title-wrapper

  &__title-wrapper {
  }

  // .feedback__pretitle

  &__pretitle {
  }

  // .feedback__title

  &__title {
  }

  // .feedback__subtitle

  &__subtitle {
    width: auto;
  }

  // .feedback__slider

  &__slider {
  }

  // .feedback__background

  &__background {
    height: 455px;
  }

  // .feedback__list

  &__list {
    top: -5em;
    left: 1em;
  }

  // .feedback__item

  &__item {
  }

  // .feedback__item-wrap

  &__item-wrap {
    width: 255px;
  }
}

.review {

  // .review__wrap

  &__wrap {
    align-items: center;
    margin-bottom: 0.5em;
    width: 300px;
  }

  // .review__photo

  &__photo {
    width: 48px;
    height: 48px;
  }

  // .review__person

  &__person {
  }

  // .review__name

  &__name {
    font-size: 1.125em;
  }

  // .review__subttile

  &__subttile {
  }

  // .review__card

  &__card {
    width: 290px;
    height: 386px;
    padding: 2em 1.5em;
  }

  // .review__quote

  &__quote {
  }

  // .review__rating-wrap

  &__rating-wrap {
  }

  // .review__rating

  &__rating {
  }

  // .review__star

  &__star {
  }
}
.slider {

  // .slider__chevrons

  &__chevrons {
  }

  // .slider__chevron

  &__chevron {
  }
}
.trustpilot {
  flex-wrap: wrap;

  & p, img {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }

  // .trustpilot__text

  &__text {
  }

  // .trustpilot__stars

  &__stars {
    width: 124px;
  }

  // .trustpilot__logo

  &__logo {
  }
}

// ---------------- DISCOVER ---------------------

.discover {

  // .discover__wrapper

  &__wrapper {
  }

  // .discover__title-wrapper

  &__title-wrapper {
    text-align: left;
    width: auto;
  }

  // .discover__pretitle

  &__pretitle {
  }

  // .discover__title

  &__title {
  }

  // .discover__subtitle

  &__subtitle {
  }

  // .discover__list

  &__list {
    margin-bottom: 2em;
  }

  // .discover__item

  &__item {
  }

  // .discover__learn

  &__learn {
    margin-left: 0;
  }

  // .discover__btn-wrap

  &__btn-wrap {
  }
}

.article {
  width: auto;
  height: auto;
  margin-bottom: 2em;

  // .article__image

  &__image {
    width: auto;
  }

  // .article__title

  &__title {
    font-size: 1.125em;
  }

  // .article__subtitle

  &__subtitle {
  }
}

// ---------------- QUESTIONS ---------------------

.questions {

  // .questions__wrapper

  &__wrapper {
  }

  // .questions__title-wrapper

  &__title-wrapper {
    width: auto;
  }

  // .questions__pretitle

  &__pretitle {
  }

  // .questions__title

  &__title {
  }

  // .questions__subtitle

  &__subtitle {
    width: auto;

  }

  // .questions__container

  &__container {
  }

  // .questions__menu

  &__menu {
  }

  // .questions__list-wrapper

  &__list-wrapper {
  }

  // .questions__list

  &__list {
  }

  // .questions__item

  &__item {
  }

  // .questions__item-active

  &__item-active {
  }
}

.toc {

  // .toc__title

  &__title {
    font-size: 1.125em;
    margin-bottom: 0;
  }

  // .toc__list

  &__list {
  }

  // .toc__item

  &__item {
  }
}
.activated {
}
.dropdown {

  // .dropdown__learn

  &__learn {
  }
}
.question {

  // .question__title

  &__title {
    font-size: 1.125em;
  }

  // .question__answer

  &__answer {
  }
}

// ---------------- READY ---------------------


.ready {

  // .ready__wrapper

  &__wrapper {
  }

  // .ready__title-wrapper

  &__title-wrapper {
    width: auto;
    padding-top: 2em;
    margin-bottom: 1.5em;
  }

  // .ready__title

  &__title {
  }

  // .ready__subtitle

  &__subtitle {
  }

  // .ready__btn-wrapper

  &__btn-wrapper {
    width: auto;
    margin: 0 auto;

  }

  // .ready__btn-tablet

  &__btn-tablet {
    display: flex;
    align-content: center;
    padding-bottom: 2em;
  }

  // .ready__btn

  &__btn {
    padding: .75em 1em;
  }

  // .ready__learn

  &__learn {
    margin-left: 0;
  }
}


.footer {
  height: 800px;
  // background-image: url(../img/mobile_Footer_background.svg),
  //                   url(../img/mobile_Cards_background.svg);
  // background-repeat: no-repeat, no-repeat;
  // background-position: 0 0, bottom;
  background-image: url(../img/legal_mobile.png);





  // .footer__wrapper

  &__wrapper {
    bottom: 5em;
  }

  // .footer__content-wrapper

  &__content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }

  // .footer__title-wrapper

  &__title-wrapper {
  }

  // .footer__title

  &__title {
    font-size: 1.125rem;
    margin-bottom: 1em;
  }

  // .footer__subtitle

  &__subtitle {
  }

  // .footer__list-wrapper

  &__list-wrapper {
  }

  // .footer__legal

  &__legal {
  }

  // .footer__legal-wrapper

  &__legal-wrapper {
    margin: 0.5em;
  }
}
.title {
}
.subtitle {
}
.tablet-hidden {
}
.legal {

  // .legal__list

  &__list {
  }

  // .legal__item

  &__item {
    margin-bottom: 0.5em;

    & a {
      color: #E7E9ED;

    }
  }

  // .legal__item-language

  &__item-language {

    &::after {
      right: 1em;
    }
  }
}
.desktop-hidden {
}
.info {

  // .info__title

  &__title {
    line-height: 1;
    font-size: 1.125em;
    margin-bottom: 1em;
  }

  // .info__list

  &__list {
  }

  // .info__item

  &__item {


    & a {
      color: #E7E9ED;

    }
  }
}
.copyright {
}


}